* {

    box-sizing: border-box;
    overflow: auto;
}

body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
}

header {
    /* display: none; */
    color: white;
    background-image: url(header-bg.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

h2 {
    margin: 0;
    padding: 32px;
    font-size: 3rem;
    text-align: center;
}

header #overlay {
    overflow: hidden;
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(210, 105, 30, 0.3);
    height: 0%;
    width: 0%;
    /* font-size: 2.5rem; */
    padding: 50px;
    /* transform: translate(-50%, -50%) scale(0); */
    animation: spreadOverlay 0.5s ease-out forwards;
}
@keyframes spreadOverlay {
    0% {
        width: 0;
        height: 0;
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#hi {
    overflow: hidden;
    margin: 30px 0;
    font-size: 4rem;
    /* height: 20px; */
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    animation-delay: 0.5s;
}
#prof{
    font-size: 2.5rem;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    animation-delay: 0.5s;
}

#resume {
    overflow: hidden;
    margin-top: 100px;
    padding: 10px 20px;
    color: white;
    font-size: 2.5rem;
    background-color: chocolate;
    border-radius: 10px;
    border: 2px solid chocolate;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    animation-delay: 0.5s;
}


.nav-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    color: white;
    background-color: chocolate;
    font-size: 30px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
}

.nav-links {
    overflow: hidden;
    /* border-radius: 50px; */
    margin: 0;
    padding: 0;
    width: 100%;
    display: none;
    position: fixed;
    top: 96px;
    list-style-type: none;
    background-color: rgb(255, 214, 184);
}

/* .nav-links li {
    border: 2px solid chocolate;
    border-radius: 20px;
    margin: 10px;
} */

.nav-links a {
    overflow: hidden;
    text-align: center;
    font-size: 2rem;
    display: block;
    padding: 20px;
    color: black;
    text-decoration: none;
}
.nav-links a:hover{
    font-size: 2.5rem;
    padding: 16px;
}
.nav-links a:active{
    font-size: 2.5rem;
    padding: 16px;
    color: white;
    background-color: chocolate;
}

.nav-links.active {
    display: flex;
    flex-direction: column;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.image-item {
    width: 60%;
    max-width: 300px;
    height: auto;
}

#about-desc {
    font-size: 2rem;
    width: 60%;
    margin-left: 20px;
}

#edu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#skills-container {
    display: grid;
    grid-template-columns: auto;
    align-content: space-around;
    justify-content: space-around;
    text-align: center;
}

.skills-item {
    /* padding: 50px; */
    margin: 50px;
}

.prog-container {
    overflow: hidden;
    height: 20px;
    width: 300px;
    border: 1px groove rgba(210, 105, 30, 0.1);
    background-color: white;
    border-radius: 10px;
}

.prog-bar {
    height: 100%;
    width: 50%;
    background-color: rgb(38, 38, 68);
    /* border-radius: 10px; */
}

footer {
    background-color: chocolate;
}


@media screen and (min-width: 803px) {
    #nav-toggle{
        display: none;
    }

    #nav-links{
        display: flex;
        position: fixed;
        top: 0;
    }

    #about{
        flex-direction: row;
    }

    #about img{
        width: 500px;
        height: auto;
    }
    #skills-container{
        grid-template-columns: auto auto;
    }

    
}